/* Import the Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
}

/* Styles for the header section */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px 0px 48px 0px;
  display:flex;
  justify-content: center;
  
}
.header_container {
  width: 80%;
}

.links {
  display:flex;
  gap: 20px;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.hero {
  display:flex;
  gap: 40px;
  margin-top:70px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
} 

.header a,
.header p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero_img {
  background-color: #e5e7eb;
}
.hero_img {
  flex-basis: 100%;
} 

/* Styles for the information section */

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:32px;
}
.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.info {
  flex-basis: 100%;
  text-align: center;
  max-width: 200px;
}
.img-box {
  border: 5px solid #3882f6;
  height: 150px;
  border-radius: 16px;
}

/* Styles for the quotation section */
.quotation {
  
  background-color: #e5e7eb;
  display: flex;
  gap: 8px;
  flex-direction: column;
  
}
blockquote {
  margin: 0;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
.author {
  align-self: flex-end;
  margin-right: 32px;
}

/* Styles for the call to action section */
.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 0;
  font-size: 24px;
}
.call-to-action__main {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}
.sign-up.border {
  border: 1px solid #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
