/* Import the Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
}

/* Styles for the header section */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px 0px 48px 0px;
  display:flex;
  justify-content: center;
  
}
.header_container {
  width: 80%;
}

.links {
  display:flex;
  gap: 20px;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.hero {
  display:flex;
  gap: 40px;
  justify-content: space-between;
  margin-top:70px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
} 

.header a,
.header p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero_img {
  flex-basis: 100%;
  text-align: end;
}
.hero_img img{
  width: 100%;
  max-width:500px;
  border-radius: 5px;
} 

/* Styles for the information section */

.information {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:32px;
}
.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.info {
  flex-basis: 100%;
  text-align: center;
  max-width: 150px;
}
.img-box {
  height: 150px;
  border-radius: 16px;
}
.img-box img { 
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
 
/* Styles for the quotation section */
.quotation {
  padding-top: 30px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  
  
}
.quote_container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.quote {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
} 
.author {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 30px;
  font-size: 24px;
  font-weight:500;
} 

/* Styles for the call to action section */
.call-to-action {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.cta_container {
  width: 80%;
  height: 150px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;

}
.cta {
  width: 80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.cta_header {
  font-size: 24px;
  font-weight:500;
}
.cta_message {
  font-size: 18px;
  color: #e5e7eb;
  margin:0;
}
.sign-up_footer {
  border: 2px solid #f9faf8;
}

.footer {
  height:80px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
