
/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin:0;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 8px;

}
/* Styles for the header section */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 48px 48px 48px;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin:0;
}
.header a,
.header p {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
}


    /* Styles for header alignment */
    .upper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .links {
        display: flex;
        gap:16px;
    }

    .lower {
        display:flex;
        gap: 32px;
    }
    .img-container {
    background-color: #e5e7eb;
   }
   .hero,
   .img-container {
    flex-basis: 100%;
   }