
/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin:0;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
button {
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    
}

/* Styles for the header section */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 48px 48px 48px;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin:0;
}
.header a,
.header p {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
}

    /* Styles for header alignment */
    .upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }
    .links {
        display: flex;
        gap:16px;
    }

    .lower {
        display:flex;
        gap: 32px;
    }
    .img-container {
    background-color: #e5e7eb;
   }
   .hero,
   .img-container {
    flex-basis: 100%;
   }

/* Styles for the information section */

.information {
    padding: 16px 64px 64px 64px;
    text-align: center;
}
.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;

}

.info-main {
    display: flex;
    gap: 16px;
}

.info {
    flex-basis: 100%;
}
.img-box {
    border: 2px solid  #3882f6;
    height: 100px;
    border-radius: 8px;
}

/* Styles for the quotation section */
.quotation {
    background-color: #e5e7eb;
    display:flex;
    gap:8px;
    flex-direction: column;
    padding: 64px 64px 64px 64px;
}
blockquote {
    margin:0;
    font-style: italic;
    font-size: 36px;
    color:#1f2937;
    font-weight:300;
}
.author {
    align-self: flex-end;
    margin-right: 32px;
}

/* Styles for the call to action section */
.call-to-action{
    background-color: #3882f6;
    color: #f9faf8;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:32px 0;
    font-size: 24px;
}
.call-to-action__main {
    margin:0;
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up__footer {
    border: 1px solid #f9faf8;;
}
